@model Fortis.Website.Models.TestModel
<hr />
<h1>Test Controller</h1>
<ul>
	<li>Item Name: @Model.ContextItemName</li>
	<li>ITestTemplate:
		<ul>
			<li>Simple Types
				<ul>
					<li>TestCheckbox: @Model.TestTemplate.TestCheckbox</li>
					<li>TestDate: @Model.TestTemplate.TestDate</li>
					<li>TestDateTime: @Model.TestTemplate.TestDateTime</li>
					<li>TestFile: @Model.TestTemplate.TestFile</li>
					<li>TestImage: @Model.TestTemplate.TestImage</li>
					<li>TestInteger: @Model.TestTemplate.TestInteger</li>
					<li>TestMultiLineText: @Model.TestTemplate.TestMultiLineText</li>
					<li>TestNumber: @Model.TestTemplate.TestNumber</li>
					<li>TestPassword: @Model.TestTemplate.TestPassword</li>
					<li>TestRichText: @Model.TestTemplate.TestRichText</li>
					<li>TestSingleLineText: @Model.TestTemplate.TestSingleLineText</li>
				</ul>
			</li>
			<li>List Types

			</li>
		</ul>
	</li>
</ul>
<hr />
